/* Standard für deaktivierte GUI-Elemente */
.label:disabled,
.button:disabled,
.toggle-button:disabled,
.radio-button:disabled,
.check-box:disabled,
.hyperlink:disabled,
.menu-button:disabled,
.split-menu-button:disabled,
.slider:disabled,
.scroll-bar:disabled,
.scroll-pane:disabled,
.progress-bar:disabled,
.progress-indicator:disabled,
.text-input:disabled,
.choice-box:disabled,
.combo-box-base:disabled,
.date-cell:disabled > *, 
.list-view:disabled,
.tree-view:disabled,
.table-view:disabled,
.tree-table-view:disabled,
.titled-pane:disabled > .title,
.accordion:disabled > .titled-pane > .title,
.tab-pane > .tab-header-area > .headers-region > .tab:disabled,
.menu:disabled,
.menu-item:disabled,
.list-cell:filled:selected:focused:disabled,
.list-cell:filled:selected:disabled,
.tree-cell:filled:selected:focused:disabled,
.tree-cell:filled:selected:disabled,
.tree-cell > .tree-disclosure-node:disabled,
.tree-table-row-cell > .tree-disclosure-node:disabled,
.table-row-cell:selected:disabled,
.tree-table-row-cell:selected:disabled,
.table-cell:selected:disabled,
.tree-table-cell:selected:disabled,
.spinner:disabled {
    -fx-opacity: 0.9;
}

.button {
    /* Button als Rechteck */
    -fx-background-radius: 0, 0, 0, 0;
}

.button:disabled {
	-fx-background-color: #cccccc;
	-fx-color: #f2f2f2;
}

.text-input:readonly {
	-fx-border-color: #a6a6a6;
}

.titled-pane:disabled .title > .arrow-button .arrow {
    -fx-background-color: #ebf0fa;
}
.titled-pane .title > .arrow-button .arrow {
    -fx-background-color:  #0066cc;
}

.combo-box-base  {
    /* the left side of the combo box is not rounded */
    -fx-background-radius: 0 5 5 0, 0 5 5 0, 0 4 4 0, 0 3 3 0;	
}

.check-box {
    selected-box-color: #33cc33;
    box-color: #ffffff;
    mark-color: #ffffff;
}

.check-box:selected > .box {
    -fx-background-color: selected-box-color;
}

.check-box > .box {
    -fx-background-color: box-color;
    -fx-border-color: #a6a6a6;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    -fx-background-color: mark-color;
}

.check-box:disabled {
  -fx-opacity: 0.8;
}

.menu:disabled > .label, .menu-item:disabled > .label {
	-fx-text-fill: #cccccc;
}







